@import "util/config";
@import "util/flows";
@import "util/mixin";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

section {
  header {
    .nav-menu {
      height: 3rem;
      .banner {
        background-image: url(../img/building.jpg);
        height: 17rem;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        margin-bottom: 4em;
        a {
          display: inline-block;
          color: $primary-color;
          padding: 0.7rem;
          margin-top: 14rem;

          &:hover {
            text-decoration: none;
            color: $hover-color;
          }
        }
      }
    }
  }
}

body {
  background: url(../img/blue_smoke.jpg) fixed;
  background-repeat: no-repeat;
  background-size: 400px 1200px;
  h1 {
    text-align: center;
    margin-top: 3em;
  }
}

#main-section {
  width: 75%;
  height: auto;
  margin: 0 0 0 25%;
  padding-bottom: 1rem;
  background-color: $bg-color;
  .main-container-date {
    max-width: 100%;
    margin: 14em auto 5rem;
    height: auto;
    padding: 3rem;
    color: $secondary-color;
    p {
      font-size: 3rem;
      text-align: center;
      margin-top: 4rem;
    }
  }
}

.grid-container-top {
  margin-top: 2em;
  display: grid;
  grid-template-areas: "main-text main-text main-text main-text profile-pic";
  grid-gap: 10px;
  div {
    &:first-child {
      text-align: center;
    }
    &:last-child {
      width: 50%;
      img {
        width: 100%;
        border-radius: 50%;
        box-shadow: $shadowFX;
      }
      div:last-child {
        text-align: center;
        margin-top: 2em;
        border-left: none;
        width: 100%;
        p {
          font-weight: 400;
        }
      }
    }
  }
}

.gradient-line {
  @include gradient-black-white;
}

.grid-container-middle {
  margin: 2em auto 0;
  display: grid;
  grid-template-areas: "main-left main-right";
  width: 100%;
  min-height: 200px;
  box-shadow: $shadowFX;
  div {
    margin-bottom: 1rem;
    &.main-left {
      padding: 1rem 0 0;
      max-width: 30%;
    }
    &.main-right {
      padding: 1rem;
      margin-left: -20vw;
      .contact-form {
        margin: 0 16vw;
        padding-left: 6rem;
        input[type="text"] {
          width: 80%;
        }
      }
    }
  }
}

.confirm-btn {
  @include btn;
  min-width: 25%;
  font-size: 1vw;
}

.btn {
  @include btn;
  min-width: 100%;
  font-size: 1vw;
}

footer {
  background: $homestyle-color;
  height: 11rem;
  width: 100%;
  color: $primary-color;
  padding: 1.5rem;
  p {
    color: white;
  }
}

#myBtn {
  @include btn;
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  padding: 15px; /* Some padding */
  font-size: 18px; /* Increase font size */
}

@media (max-width: 700px) {
  body {
    background: none;
  }

  #main {
    &-section {
      max-width: 100%;
      margin: 0 auto;
    }

    &-container {
      max-width: 100%;
      background-color: white;
      border: none;
    }
  }
}
